body {
    background-color: #d34343;
    font-family: Arial, sans-serif;
}

h1{
    color: red;
}

.active{
    background-color: red;
    
}


/* marquee{
    background-color: #dab2ff;
    } */
    .active{
        background-color: red;
    }